<!DOCTYPE html>
<html>
    <head>
        <!--Importa los iconos-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <!--Css de materialize-->
        <link type="text/css" rel="stylesheet" href="assets/materialize/css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="assets/materialize/css/index/index.css">
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Coda" rel="stylesheet">
        
        <link rel="icon" type="image/png" href="./assets/images/gitbook.png" />
    </head>
    <body >
     
        <main>
            <nav>
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo">GitBook</a>
                    
                </div>
            </nav>
            
            <div class="contenedor col s12 m6 l6">
                 <h4> Hola <%= user.local.name %> </h4>
                <p>¿Qué quieres hacer?</p>
                <p>Recuerda que puedes acceder al book, cambiar tu contraseña, o cerrar la sesión</p>
                
               <div class="row">
                <a class="btn waves-effect waves-light #00c853 green accent-4"  type="submit" name="action" href= "/respuesta">Acceso al Book
                    <i class="material-icons right"></i>
                </a>
                <a class="btn waves-effect waves-light #2196f3 blue" type="submit" name="action" href= "/modificacion">Modicar Datos
                    <i class="material-icons right"></i>
                </a>
                <a class="btn waves-effect waves-light #f44336 red" type="submit" name="action" href= "/salir">Cerrar Sesión
                    <i class="material-icons right"></i>
                </a>
                </div>
            </div>
         
        </main>


        <footer class="page-footer ">
          <div class="container">
            <div class="row">
              <div class="col l6 m6 s12">
                <h5 class="">GitBook desarrollado con</h5>
                <p class="">Paquete npm gitbook-start-alex-moi-nitesh</p>
              </div>
              <div class="col l4 offset-l2 m6 s12">
                <h5 class="">Creadores del paquete</h5>
                <ul>
                  <li><a class="nombres" href="#!">Moisés Yanes Carballo</a></li>
                  <li><a class="nombres" href="#!">Alexander Cole Mora</a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
    
        <!--Import jQuery before materialize.js-->
        <script src="http://code.jquery.com/jquery.min.js"></script>
        <script type="text/javascript" scr="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="assets/materialize/js/materialize.min.js"></script>
    </body>
</html>