<!DOCTYPE html>
<html>
    <head>
        <!--Importa los iconos-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <!--Css de materialize-->
        <link type="text/css" rel="stylesheet" href="assets/materialize/css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="assets/materialize/css/index/index.css">
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Coda" rel="stylesheet">
        
        <link rel="icon" type="image/png" href="./assets/images/gitbook.png" />
    </head>
    <body >
     
        <main>
            <nav>
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo">GitBook</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="#"><i class="material-icons left">input</i>Inicio de Sesión</a></li>
                    </ul>
                </div>
            </nav>
            
            <div class="contenedor2 col s12 m6 l6" id="idcontenedor2">
                <h4> Administración de Usuarios</h4> 
                <p>En este apartado podrá añadir o eliminar usuarios.Además podrá añadir a mas usuarios como administradores. Seleccione solo una de las opciones siguientes</p>
                <div class="row">
                    <form class="col s12" action="/administrar/return" method="GET">
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">account_circle</i>
                                <input class="form-control" id="email2" type="email" class="validate" name="email">
                                <label for="email">Email</label>
                            </div>
                            <div class="col s6">
                                <div class="col s6">
                                    <p>
                                        <input name="del" type="radio" id="test1" />
                                        <label for="test1">Borrar Usuario</label>
                                    </p>
                                    <p>
                                        <input name="ad" type="radio" id="test2" />
                                        <label for="test2">Convertir en admin</label>
                                    </p>
                                </div>
                                <div class="col s6">
                                    <p>
                                        <input name="add" type="radio" id="test3" />
                                        <label for="test3">Añadir Usuario</label>
                                    </p>
                                    <p>
                                        <input name="delad" type="radio" id="test4" />
                                        <label for="test4">Quitar privilegios</label>
                                    </p>   
                                </div>
                            </div>
                        </div>
                        <div class="row visible" id="vis">
                            <div class="col s9">
                                <div class="row">
                                   <div class="input-field col s6">
                                        <input class="form-control white-text" id="nombre1" type="text" class="validate" name="nombre">
                                        <label class ="white-text" for="nombre1 ">Nombre y Apellidos</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input class="form-control white-text" id="username1" type="text" class="validate" name="username">
                                        <label  class ="white-text" for="username1">Usuario</label>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input id="password1" class="form-control white-text" type="password" class="validate" name="password">
                                        <label class ="white-text" for="password">Contraseña</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input class="form-control white-text" id="edad1" type="number" min="18" class="validate" name="edad">
                                        <label class ="white-text" for="edad">Edad</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col s3">
                                <div class="row">
                                    <p>¿Privilegios?</p>
                                </div>
                                <div class="row">
                                    <p>
                                        <input name="si" type="radio" id="test5" />
                                        <label for="test5">Si</label>
                                    </p>
                                </div> 
                                <div class="row">
                                    <p>
                                        <input name="no" type="radio" id="test6" />
                                        <label for="test6">No</label>
                                    </p>
                                </div>   
                            </div>
                        </div>

                        
                        <div class="row">
                            <input class="btn waves-effect waves-light #00c853 green accent-4"  type="submit" name="action" value="Ejecutar">
                                <i class="material-icons right"></i>
                            </input>
                            <a class="btn waves-effect waves-light #00c853 red accent-4" type="submit" name="action" href= "/salir">Salir
                                <i class="material-icons right"></i>
                            </a>
                       </div>
                    </form>
                </div>
        
                
            </div>
         
        </main>


        <footer class="page-footer ">
          <div class="container">
            <div class="row">
              <div class="col l6 m6 s12">
                <h5 class="">GitBook desarrollado con</h5>
                <p class="">Paquete npm gitbook-start-alex-moi-nitesh</p>
              </div>
              <div class="col l4 offset-l2 m6 s12">
                <h5 class="">Creadores del paquete</h5>
                <ul>
                  <li><a class="nombres" href="#!">Moisés Yanes Carballo</a></li>
                  <li><a class="nombres" href="#!">Alexander Cole Mora</a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
    
        <!--Import jQuery before materialize.js-->
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <script type="text/javascript" scr="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="assets/materialize/js/materialize.min.js"></script>
        <script type="text/javascript" src="assets/materialize/js/index.js"></script>
    </body>
</html>